<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <div class="container d-flex justify-content-between">
        <div class="col-2">
          <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
        </div>
        <div class="col-2">
          <a class="nav-link text-dark" [routerLink]="['/order']">Order</a>
        </div>
        <div class="col-2">
          <a class="nav-link text-dark" [routerLink]="['/cart']">Cart</a>
        </div>
        <div class="col-5 d-flex justify-content-between">
          <div class="col-9">
            <ngx-select
              class="w-100"
              (typed)="onType($event)"
              (select)="goToProduct($event)"
              [items]="searchItems"
              [(ngModel)]="ngxValue"
              optionValueField="id"
              optionTextField="name"
              optGroupLabelField="text"
              optGroupOptionsField="children"
              placeholder="Search"
              size="default"
            >
              <ng-template
                ngx-select-option-selected
                let-option
                let-text="text"
              >
                <span class="color-box"></span>
                <span [innerHtml]="text"></span>
                ({{ option.data.price | currency: "RON" }})
              </ng-template>

              <ng-template ngx-select-option let-option let-text="text">
                <span class="color-box"></span>
                <span [innerHtml]="text"></span>
                ({{ option.data.price | currency: "RON" }})
              </ng-template>

              <ng-template ngx-select-option-not-found>
                Nothing found
              </ng-template>
            </ngx-select>
          </div>

          <button class="col-2 btn btn-info" type="button" (click)="search()">
            Search
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
