<div class="container-fluid">
  <div class="row h-50">
    <div class="col-4">
      <span class="col-12 d-flex justify-content-center"
        ><img [src]="product.imageData" style="max-width: 500px;"
      /></span>
    </div>
    <div class="col-8">
      <span class="col-12 d-flex justify-content-center"
        >{{ product.name }}
      </span>
      <span class="col-12 d-flex justify-content-center">{{
        product.price | currency: "RON"
      }}</span>
      <span class="col-12 d-flex justify-content-center">{{
        product.description
      }}</span>
      <span class="col-12 d-flex justify-content-center">
        <button class="btn btn-info" type="button" (click)="quickAdd(item)">
          Quick Add
        </button>
      </span>
    </div>
  </div>
</div>
