<div class="col-12">
  <div class="container-fluid">
    <h1>Order</h1>
    <hr />
    <div *ngIf="orders?.length === 0">
      No items added to the order
    </div>

    <div class="container" *ngIf="orders?.length > 0">
      <ng-container *ngFor="let order of orders">
        <div class="d-flex col-12 justify-content-between border-bottom">
          <div class="col-2 d-flex justify-content-center align-items-center">
            {{ order.orderDate | date: short }}
          </div>
          <div class="col-10">
            <ng-container *ngFor="let item of order.orderItems">
              <div class="d-flex col-12 justify-content-between">
                <span
                  class="col-4 d-flex justify-content-center align-items-center"
                  ><a [routerLink]="['/product', item.product.id]">{{
                    item.product.name
                  }}</a>
                </span>
                <span
                  class="col-4 d-flex justify-content-center align-items-center"
                  >{{ item.product.price | currency: "RON" }}</span
                >
                <span
                  class="col-4 d-flex justify-content-center align-items-center"
                >
                  Quantity: {{ item.quantity }}
                </span>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
